body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container_jeans {
  width: 80%;
  margin: auto;
  height: 100%;
  position: relative;
  margin-top: 30px;
}

#jeans {
  width: 100%;
}
#image {
  width: 100%;
}
#jeans_text {
  text-align: center;
  line-height: 0.2;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#box_div {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-underline-position: inherit;
}
/* ...............................sliding part......................... */
#women_slide {
  width: 80%;
  height: 600px;
  margin: 20px auto;
  position: relative;
}
#right_one {
  width: 100%;
  height: 600px;
  background-image: url("https://www.jcrew.com/brand_creative/homepage2022/09-Sep2/v2/2022sep_0823_hp_w_img0.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  line-height: 0.5;
  top: -2.4%;
  display: flex;
  align-items: center;
}
#first {
  width: 50%;
  text-align: center;
  line-height: 0.1;
}

#intro {
  font-size: 20px;
  margin-bottom: 0;
}
#ital {
  width: 60%;
  font-size: 4rem;

  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 0;
}
#font {
  width: 60%;
  font-size: 80px;
  display: flex;
  justify-content: start;
  float: right;
}
#para {
  clear: both;
  width: 45%;

  margin: auto;
  font-size: 18px;
  line-height: 1;
  margin-top: 70px;
}
#slideImg_container {
  height: 600px;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  left: 50%;
}
#slideImg_container img {
  height: 100%;
  width: 100%;
}
